.box {
	width: 100%;
	border: 1px solid #ececec;
	margin: 5px 0;
	position: relative;
}

.box input[type="checkbox"] {
	width: auto;
	height: auto;
	position: absolute;
	transform: translate(0, -80%);
	top: 50%;
	left: 10px;
}

.box label {
	padding: 0 0 0 30px;
	display: block;
	padding: 30px 90px 30px 40px;
}

.box label.passive {
	text-decoration: line-through;
	color: gray;
}

.box button {
	width: auto;
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	right: 10px;
	border: none;
	border-radius: 10px;
	padding: 5px;
}
